
header {
   text-align: center;
   padding:5px;
   font-size: xx-large;
   background-color: midnightblue;
   color: yellow;
}
#btn {
    margin: 1%;
    padding: 10px;

  
    
}
#schbox{
    margin: 1%;
    padding: 10px;

}
#schbtn{
    margin-top: 10px;
}
#schinput{
    width: 150px;
}